@import "mixins";

.footer {
    width: 100%;
    height: 274px;
    background-color: $bg-soft;
    margin-top: auto;
    display: flex;
    justify-content: center;

    &__container {
        border-top: 2px solid $bg-separator-color;
        width: 315px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__address-wrap {
        margin-bottom: 21px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__address {
        font-weight: 400;
        color: $dark-regular;
    }

    &__on-map {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include link-color;

    }

    &__contact {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__facebook-item {
        fill: $regular-color;
        width: 38px;
        height: 38px;
        transition: fill 0.2s;

        &:hover {
            fill: $accent-color;
        }
    }

    &__phone {
        font-weight: 700;
        color: $dark-alt;
    }

    &__email {
        font-weight: 700;
        @include link-color;
    }

    &__copyright {
        font-weight: 400;
        color: $color-secondary;
        align-self: center;
    }

}