@import "mixins";

.header {
    margin: 0 auto;
    width: 100%;
    min-height: 102px;

    &__info-block {
        background: rgba(245, 245, 250, 0.2);
        display: flex;
        justify-content: center;
        min-height: 45px;

        &_light {
            background-color: $bg-soft;
        }
    }

    &__inner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 345px;
        position: relative;
    }

    &__lang {
        display: flex;
    }

    &__lang-button {
        width: 33px;
        height: 25px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        color: $color-light;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }

        &_light {
            color: $color-secondary;

            &.header__lang-button_active {
                color: $color-light;

                &:hover {
                    background-color: $accent-color;
                }
            }

            &:hover {
                background-color: $bg-soft;
            }
        }

        &_active {
            background-color: $accent-color;

            &:hover {
                opacity: 1;
                cursor: auto
            }
        }

    }

    &__address {
        display: none;
    }

    &__phone {
        font-weight: 700;
        text-align: right;
        color: $color-light;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: $accent-color;
        }

        &_light {
            color: $color-secondary;
        }
    }

    &__facebook {
        display: none;
    }

    &__title-block {
        display: flex;
        justify-content: center;
        min-height: 57px;
    }

    &__title-info {
        display: flex;
        align-items: flex-start;
        gap: 4px;
    }

    &__logo {
        width: 70px;
        height: 32px;
        transition: 0.2s;

        &_link-active {
            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__slash {
        width: 12px;
        height: 26px;
        fill: $accent-color;
    }

    &__item {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
        color: #323264;
    }

    // menu-open
    &.menu_open {

        .nav {
            display: flex;
            width: 100%;
            justify-content: center;
            position: absolute;
            top: 102px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;

            &__list {
                width: 335px;
                background-color: #323264;
                border-radius: 0 0 12px 12px;
                flex-direction: column;
                align-items: center;

                &_light {
                    width: 359px;
                    background-color: $color-light;
                    min-height: 290px;
                }
            }

            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 335px;
                height: 43px;
                background: $bg-soft;
                border-radius: 12px;
            }

            &__link {
                // @include link-color;
                color: $regular-color;
                &:hover{
                    color: $accent-color;
                }
            }
        }

        .burger-menu {
            &__line {
                &_disappear {
                    display: none;
                }

                &_top,
                &_middle {
                    background-color: #EC6F5D;
                    position: relative;
                    transition: transform 0.5s;
                }

                &_top {
                    top: 4px;
                    transform: rotate(-45deg);
                }

                &_middle {
                    top: -6px;
                    transform: rotate(45deg);
                }
            }
        }
    }

}

// burger
.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    padding: 10px 7px;

    &:hover {
        opacity: 0.8;
    }

    &_light {
        &:hover {
            background: $bg-separator-color;

        }
    }

    &__line {
        width: 18px;
        height: 2px;
        background: $color-light;

        &_light {
            background-color: #000;
        }
    }
}


// navigation

.nav {
    display: none;

    &__list {
        display: flex;
        gap: 15px;
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
    }
}