.container-main {
    background: url(../img/Symbol.svg) no-repeat top center / auto 600px, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan {
    width: 100%;
    min-height: 498px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    padding-top: 129px;

    &__heading {
        width: 315px;
        height: 138px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: $text-light;
        margin: 0;
    }

    &__arrow {
        position: absolute;
        bottom: 30px;
        left: 50%;
        stroke:white;
        transform: translateX(-50%);

        &:hover {
            stroke: $accent-color;
        }
    }
    &__item {
        height: 42px;
        width: 42px;
    }

}

.advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__titles {
        min-height: 60px;
        display: grid;
        overflow-x: auto;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        padding-left: 30px;

        &::-webkit-scrollbar {
            display: NONE;
        }
    }

    &__button {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #B3B3BA;
        background: none;
        border: none;
        white-space: nowrap;

        &:hover {
            color: $accent-color;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__wrap-content {
        width: 315px;
        min-height: 318px;
        padding-top: 30px;
        border-top: 4px solid rgba(255, 255, 255, 0.3);
    }

    &__heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $text-light;
        margin-bottom: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        color: #FFFFFF;
    }

}


.advantages__wrap-content_hide {
    display: none;
}