@import "mixins";

.container_dark {
    background: url(../img/Symbol.svg) no-repeat top center / auto 600px, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.slogan {
    width: 100%;
    min-height: 498px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    padding-top: 129px;

    &__heading {
        width: 315px;
        height: 138px;
        font-weight: 700;
        font-size: 38px;
        line-height: 1.2;
        text-align: center;
        color: $color-light;
        margin: 0;
        animation: slogan 2s ease-in;
    }

    &__arrow {
        position: absolute;
        bottom: 30px;
        left: 50%;
        stroke: white;
        transform: translateX(-50%);
        transition: stroke 0.2s;

        &:hover {
            stroke: $accent-color;
        }
    }

    &__item {
        height: 42px;
        width: 42px;
    }

}

.advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;


    &__titles {
        height: 67px;
        display: flex;
        overflow-x: auto;
        gap: 30px;
        padding-left: 30px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__button {
        font-weight: 700;
        font-size: 30px;
        color: $color-secondary;
        background: none;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: $accent-color;
        }

        &_active {
            color: $accent-color;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__wrap-content {
        width: 315px;
        min-height: 348px;
        padding-top: 30px;
        border-top: 4px solid rgba(255, 255, 255, 0.3);

        &_hide {
            display: none;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        color: $color-light;
        margin-bottom: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 1.6;
        color: $color-light;
    }

}

.services {
    width: 315px;
    padding-bottom: 60px;

    &__pages-link {
        margin-bottom: 10px;
    }

    &__wrap-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__conversion {
        margin-bottom: 30px;
    }
}

.card-service {
    &__wrap-icon {
        width: 92px;
        height: 92px;
        background-color: $color-light;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__heading {
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        @include link-color;
        margin-bottom: 15px;
        display: block;
    }

    &__description {
        line-height: 1.6;
        color: $color-light;

    }
}

.container_light{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


    &:before {
        content: "";
        display: block;
        width: 335px;
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &:after {
        content: "";
        display: block;
        width: 295px;
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.about-team {
    padding: 80px 0 40px;
    margin-bottom: 60px;

    &__pages-link {
        margin-bottom: 5px;
    }

    &__slider {
        width: 315px;
    }

    &__wrap-img {
        height: 500px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px 12px 0px 0px;
    }

    &__wrap-quote {
        background-color: $bg-soft;
        border-radius: 0 0 12px 12px;
        padding: 30px;
        height: 587px;
        display: flex;
        flex-direction: column;
    }

    &__wrap-person {
        margin-top: auto;
    }

    &__name {
        font-weight: 700;
        color: $color-secondary;
        margin-bottom: 6px;
        display: block;
    }

    &__position {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;
        color: $color-secondary;
    }

    &__slider .slick-dots {
        bottom: -45px;
    }

}

// trust-company section

.partner-company {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark-regular;
    }

    &__wrapper {
        margin-top: 30px;
        width: 100%;

    }

    &__wrap-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;

        &:nth-child(1) {
            background-color: #1C4280;
        }

        &:nth-child(2) {
            background-color: #143646;
        }

        &:nth-child(3) {
            background-color: #F48B30;
        }

        &:nth-child(4) {
            background-color: #9E4DC3;
        }

        &:nth-child(5) {
            background-color: #FD9339;
        }

        &:nth-child(6) {
            background-color: #E2E2E4;
        }

        &:nth-child(7) {
            background-color: #C71C36;
        }

        &:nth-child(8) {
            background-color: #DCF3F9;
        }

        &:nth-child(9) {
            background-color: #EAEAEA;
        }

        &:nth-child(10) {
            background-color: #282240;
        }

        &:nth-child(11) {
            background-color: #1D4568;
        }

        &:nth-child(12) {
            background-color: #000000;
        }

        &:nth-child(n+7) {
            display: none;
        }
    }
}

// publications

.publications {
    padding: 30px 0;
    background-color: $bg-soft;
    width: 100%;
    display: flex;
    justify-content: center;

    &__pages-link {
        margin-bottom: 5px;
    }

    &__wrapper-cards {
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin-top: 30px;
    }

    &__wrapper {
        width: 315px;
    }
}

.card-public {
    background-color: $color-light;
    min-height: 432px;
    border-radius: 8px 8px 8px 8px;

    &__wrap-img {
        height: 200px;
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        height: 100%;
    }

    &__info {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__title {
        font-weight: 700;
        @include link-color;
    }

    &__data {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-secondary;
    }

    &__text {
        padding-top: 15px;
        border-top: 4px solid $bg-separator-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;
    }

}


@keyframes slogan {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.5);

    }

    100% {
        transform: scale(1);
    }
}