 @mixin tabletSD {
   @media screen and (min-width: 767px) {
     @content;
   }
 }

 @mixin tabletHD {
   @media screen and (min-width: 1024px) {
     @content;
   }
 }

 @mixin desktopHD {
   @media screen and (min-width: 1920px) {
     @content;
   }
 }

 @mixin desktopSD {
   @media screen and (min-width: 1440px) {
     @content;
   }
 }

 @mixin link-color {
   color: #24A3FF;
   transition: color 0.3s;

   &:hover {
     color: #F0145A;
   }
 }

 @mixin circle {
   display: block;
   position: absolute;
   top: 50%;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   transform: translateY(-50%);
 }