.container_dark-gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    &__conversion {
        &_service-page {
            margin-top: 30px;
        }
    }
}

.container {
    &_services {
        padding-top: 80px;
        ;
    }
}