$accent-color: #F0145A;
$regular-color: #24A3FF;
$bg-soft: #F5F5FA;
$color-secondary:#B3B3BA;
$color-light:#fff;
$dark-regular:#323264;
$dark-alt:#46466E;
$bg-separator-color:#E6E6F0;
$bg-alt:#EDEDF7;
$dark-soft:#686887;