$accent-color: #F0145A;
$regular-color: #24A3FF;
$hover-color: #0085FF;
$active-color: #006CCF;
$bg-color: #F5F5FA;
$bg-separator-color:#E6E6F0;
$text-color:#B3B3BA;
$text-light:#fff;
$dark-regular:#323264;
$dark-alt:#46466E;
$dark-soft:#686887;
$text-gradient:linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);