@import "reset";
@import "normalize";
@import "vars";
@import "header";
@import "home";
@import "footer";
@import "main";
@import "mixins";



* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  padding: 0;
}


@include tabletSD {

  // min-width: 768px
  .header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;

    &__info-block {
      background-color: transparent;
      min-height: auto;
    }

    &__inner-container {
      width: 648px;
      justify-content: flex-start;
      gap: 6px;
    }

    &__title-block {
      min-height: auto;
    }

    &__wrap-logo img {
      width: 130px;
      height: 60px;
    }

    &__slash {
      width: 21px;
      height: 47px;
    }

    &__item {
      font-size: 36px;
      line-height: 44px;
      color: $dark-regular;
    }

  }

  .header__logo {
    width: 130px;
    height: 60px;
  }

  .burger-menu {
    display: none;
  }

  .address {
    display: inline-block;
    position: relative;
    padding: 0 12px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $text-color;

    &::before,
    &::after {
      content: "";
      display: inline-flex;
      position: absolute;
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $bg-separator-color;
      transform: translateY(-50%);
    }

    &::after {
      right: 0px;
    }
  }

  .phone {
    position: relative;
    padding-right: 12px;

    &::after {
      content: "";
      display: inline-flex;
      position: absolute;
      top: 50%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $bg-separator-color;
      transform: translateY(-50%);
      right: 0px;
    }
  }

  .facebook {
    display: inline-flex;

    &__item {
      width: 25px;
      height: 25px;
      fill: $text-color;

      &:hover {
        fill: $accent-color;
      }
    }
  }

  // navigation
  .nav {
    display: flex;
    justify-content: center;

    &__list {
      width: 648px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;

      &:hover {
        border-bottom: 2px solid $text-light;
      }


      &_danger {
        border-bottom: 2px solid $accent-color;
      }
    }

    &__link {
      font-size: 16px;
      line-height: 20px;
      color: $text-light;

      &_light-theme {
        color: $active-color;
      }

      &_danger {
        color: $accent-color;
        cursor: auto;
      }
    }
  }

  .nav__item_light-theme {

    &:hover {
      border-bottom: 2px solid $active-color;
    }
  }

  .nav__item_danger:hover {
    border-bottom: 2px solid $accent-color;
  }

  // main

  .about-section {
    padding-top: 60px;
  }

  .about {
    width: 648px;

    &__heading {
      font-size: 38px;
      line-height: 46px;
    }
  }

  .team {
    height: 234px;
    margin: 60px 0;

    &__heading {
      font-size: 46px;
      line-height: 56px;
      letter-spacing: 63px;
    }
  }

  // carousel

  .achieve-section__wrap-slider {
    width: 688px;
    height: 90px;
  }

  .achieve-section .slick-initialized .slick-slide {
    margin: 0 20px;
  }

  .achieve-section .slick-dots li:nth-child(n+4) {
    display: none;
  }

  // Homepage Main
  .container-main {
    background: url(../img/Symbol.svg) no-repeat top center / auto 1024px, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }

  .slogan {
    min-height: 804px;
    padding-top: 269px;
    margin-bottom: 60px;

    &__heading {
      width: 648px;
    }
  }

  .advantages {
    &__titles {
      min-height: 106px;
      padding-left: 60px;
    }

    &__button {
      font-size: 38px;
      line-height: 46px;
    }

    &__wrap-content {
      width: 648px;
      min-height: 187px;
      padding-top: 60px;
    }

    &__content {
      width: auto;
    }

    &__heading {
      font-size: 30px;
      line-height: 37px;
    }

    &__text {
      font-size: 19px;
      line-height: 30px;
    }
  }


  // services homepage

  .services {
    width: 648px;

    &__wrap-cards {
      display: grid;
      grid-template-rows: 373px 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }

  .conversion {
    margin-bottom: 60px;
  }

  // team homepage
  .about-team {

    &::before {
      width: 728px;
    }

    &::after {
      width: 688px;
    }

    // team slider
    &__slider {
      width: 648px;
      // height: 936px;
    }

    &__wrap-img {
      height: 500px;

      img {
        width: 100%;
      }
    }

    &__wrap-quote {
      min-height: 436px;
    }

    &__text {
      font-size: 38px;
      line-height: 46px;

    }
  }


  // trust-company section
  .partner-company {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    &__wrap-img {
      &:nth-child(n+7) {
        display: flex;
      }
    }
  }

  // publications section
  .publications {
    &__wrapper {
      width: 648px;
    }

    &__wrapper-cards {
      display: grid;
      // grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 514px 388px;
    }
  }

  .card-public {
    min-height: auto;

    &__wrap-img {

      img {
        width: 100%;
        height: auto;
      }
    }

    &:last-child {
      grid-column-end: span 2;
    }
  }

  .footer {
    height: 143px;

    &__container {
      width: 648px;
      align-items: flex-start;
      position: absolute;
    }

    &__address-wrap {
      flex-direction: row;
      // margin-bottom: 0;
    }

    &__address {
      display: inline-block;
      position: relative;
      padding: 0 16px 0 0;

      &:after {
        content: "";
        display: inline-flex;
        position: absolute;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #B3B3BA;
        transform: translateY(-50%);
        right: 0;
      }
    }

    &__connect {
      flex-direction: row;
      margin-bottom: 0;
    }

    &__phone {
      display: inline-block;
      position: relative;
      padding: 0 16px 0 16px;

      &:after,
      &::before {
        content: "";
        display: inline-flex;
        position: absolute;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #B3B3BA;
        transform: translateY(-50%);
        right: 0;
      }

      &::before {
        left: 0;
      }
    }

    &__copyright {
      position: absolute;
      right: 0;
      top: 30px;
    }
  }



}




@include tabletHD {

  // min-width: 1024px
  // header
  .header {
    width: 904px;
    position: relative;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;

    &__info-block {
      position: absolute;
      right: 0;
    }

    &__inner-container {
      width: auto;

    }
  }

  .nav {
    align-items: flex-end;
    justify-content: flex-end;

    &__list {
      width: auto;
    }

    &__link {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  // main
  .about {
    width: 904px;
    display: flex;
    justify-content: space-between;

    &__wrap {
      width: 486px;
    }

    &__text-wrapper {
      margin-bottom: 0;
      width: 486px;
    }

    &__heading {
      &_quality {
        width: 362px;

      }
    }
  }

  .experience {
    width: 388px;
  }

  .team {
    height: 312px;

    &__heading {
      font-size: 86px;
      line-height: 105px;
      letter-spacing: 63px;
    }
  }

  // slider
  .achieve-section {
    min-height: 263px;

    &__wrap-slider {
      width: 944px;
      height: 110px;
    }
  }

  .achieve-section .slider__wrap-img img {
    height: 60px;
  }

  // homepage main

  .container-main {
    background: url(../img/Symbol.svg) no-repeat top center / auto 768px, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }

  .slogan {
    min-height: 652px;
    padding-top: 245px;
  }

  .advantages {
    flex-direction: row;
    width: 904px;
    height: 303px;

    &__titles {
      flex-direction: column;
      height: auto;
      border-right: 4px solid $text-color;
      padding-right: 60px;
      width: 439px;
      padding: 15px 60px 15px 0;
      gap: 30px;
      align-items: end;
    }

    &__content {
      padding-left: 60px;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__wrap-content {
      width: 405px;
      border-top: none;
      padding-top: 0;
    }

    &__heading {
      font-size: 30px;
      line-height: 37px;
    }

    &__text {
      font-size: 19px;
      line-height: 30px;
    }
  }

  .services {
    width: 904px;

    &__wrap-cards {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px;
    }
  }

  .about-team {

    &::before {
      width: 984px;
    }

    &::after {
      width: 944px;
    }

    // team slider

    &__slider {
      width: 903px;
    }

    &__wrap-img {
      height: 528px;
      width: 400px;
      border-radius: 12px 0 0 12px;

      img {
        width: auto;
        height: 100%;
      }
    }

    &__wrap-quote {
      min-height: 528px;
      width: 504px;
      border-radius: 0 12px 12px 0;
    }

    &__text {
      width: 444px;
    }


  }

  .about-team .slick-initialized .slick-slide {
    display: flex;
  }

  // trust-company section
  .partner-company {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  // publications section
  .publications {
    &__wrapper {
      width: 904px;
    }

    &__wrapper-cards {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }

  .card-public {
    min-height: 556px;
    overflow: hidden;


    &__wrap-img {
      img {
        height: 100%;
        width: auto;
      }
    }

    &:last-child {
      grid-column: auto;
    }
  }

  // footer

  .footer {

    &__container {
      width: 904px;
    }
  }


}


@include desktopHD {

  // min-width: 1920px
  .header {
    width: 1600px;
  }

  .about {
    width: 1360px;

    &__wrap {
      width: 942px;
    }

    &__text-wrapper {
      width: 942px;
    }
  }

  .team {
    height: 584px;
  }

  .achieve-section__wrap-slider {
    width: 1600px;
  }

  // homepage main 
  .container-main {
    background: url(../img/Symbol.svg) no-repeat top center / auto 1000px, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }

  .slogan {
    min-height: 884px;
    padding-top: 361px;
  }

  .advantages {
    width: 1360px;

    &__button {
      cursor: pointer;

    }

    &__wrap-content {
      width: 861px;
    }
  }

  // .advantages__button_active {
  //   background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  //   background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }

  // .advantages__button_active:hover {
  //   cursor: auto
  // }

  .services {
    width: 1600px;
  }

  .card-service__heading {
    cursor: pointer;
  }

  .pages-link {
    cursor: pointer;
  }

  // team homepage
  .about-team {

    &::before {
      width: 1880px;
    }

    &::after {
      width: 1840px;
    }

    // team slider
    &__slider {
      width: 1600px;
      // height: 298px;
    }

    &__wrap-img {
      width: 400px;
      height: 298px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__wrap-quote {
      width: 1200px;
      min-height: 298px;
    }

    &__text {
      width: 1140px;
    }
  }

  // publication section 

  .publications {
    &__wrapper {
      width: 1600px;
    }
  }

  .card-public {
    min-height: 430px;

    &__wrap-img {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

    // footer

    .footer {

      &__container {
        width: 1600px;
      }
    }


}

@include desktopSD {

  // min-width: 1440px
  .header {
    width: 1320px;
  }

  .about {
    width: 1080px;

    &__wrap {
      width: 662px;
    }

    &__text-wrapper {
      width: 662px;
    }
  }

  .team {
    height: 438px;
  }

  .achieve-section__wrap-slider {
    width: 1320px;
  }

  // homepage main
  .container-main {
    background: url(../img/Symbol.svg) no-repeat top center / auto 799px, linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  }

  .slogan {
    min-height: 684px;
    padding-top: 261px;
  }

  .advantages {
    width: 1080px;

    &__wrap-content {
      width: 581px;
    }
  }

  .services {
    width: 1320px;
  }

  // team homepage
  .about-team {

    &::before {
      width: 1400px;
    }

    &::after {
      width: 1360px;
    }

    // slider

    &__slider {
      width: 1320px;
      height: 344px;
    }

    &__wrap-img {
      height: 344px;
      width: 400px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__wrap-quote {
      width: 920px;
      min-height: 344px;
    }

    &__text {
      width: 860px;
      // height: 581px;

    }
  }

  // publications section

  .publications__wrapper {
    width: 1320px;
  }

  .card-public {
    min-height: 450px;

    &__wrap-img {
      img {
        width: 100%;
        height: auto;
      }

    }
  }

    // footer

    .footer {

      &__container {
        width: 1320px;
      }
    }

}