@import "reset";
@import "normalize";
@import "vars";
@import "common";
@import "header";
@import "home_main";
@import "footer";
@import "about_main";
@import "services_main";
@import "team_main";
@import "public_main";
@import "contact_main";
@import "plug_page";
@import "mixins";




@include tabletSD {

  // min-width: 768px
  .header {
    width: 648px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 52px;
    height: 220px;

    &__info-block {
      background-color: transparent;
      min-height: auto;
      justify-content: flex-start;
    }

    &__inner-container {
      width: 100%;
      justify-content: flex-start;
      gap: 6px;
    }

    &__address {
      display: inline-block;
      position: relative;
      padding: 0 12px;
      color: $color-secondary;
      transition: color 0.2s;

      &:hover {
        color: $accent-color;
      }

      &::before,
      &::after {
        @include circle;
        content: "";
        right: 0;
        background-color: $bg-separator-color;
      }

      &::before {
        left: 0;
      }

    }

    &__phone {
      position: relative;
      padding-right: 12px;

      &::after {
        @include circle;
        content: "";
        background-color: $bg-separator-color;
        right: 0;
      }
    }

    &__facebook {
      display: inline-flex;
    }

    &__facebook-item {
      width: 25px;
      height: 25px;
      fill: $color-secondary;
      transition: fill 0.2s;

      &:hover {
        fill: $accent-color;
      }
    }

    &__logo-block {
      min-height: auto;
    }

    &__wrap-logo {
      height: 60px;
    }


    &__logo {
      width: 130px;
      height: 60px;
    }

    &__slash {
      width: 21px;
      height: 47px;
    }

    &__item {
      font-size: 36px;
      line-height: 1.2;
    }

  }

  .burger-menu {
    display: none;
  }

  // navigation
  .nav {
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: inherit;
    padding-top: 0;

    &__list {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s;
      background-color: inherit;
      width: auto;
      border-radius: 0;
      font-size: 16px;
      color: $color-light;

      &:hover {
        border-bottom: 2px solid $color-light;
      }


      &_light {
        color: $regular-color;

        &:hover {
          border-bottom: 2px solid $regular-color;
        }
      }

      &_active {
        color: $accent-color;
        cursor: auto;
        border-bottom: 2px solid $accent-color;

        &:hover {
          border-bottom: 2px solid $accent-color;
        }
      }
    }

  }

  // Homepage Main
  .container_dark {
    background-size: auto 1024px, auto;

    &::before {
      width: 728px;
    }

    &::after {
      width: 688px;
    }
  }

  .slogan {
    height: 1024px;
    width: auto;
    margin-bottom: 60px;
  }

  .advantages {

    &__titles {
      min-height: 106px;
      padding-left: 60px;
    }

    &__button {
      font-size: 38px;
      line-height: 1.2;
    }

    &__content {
      width: auto;
      min-height: 255px;
    }

    &__wrap-content {
      width: 648px;
      padding-top: 60px;
    }

    &__heading {
      font-size: 30px;
    }

    &__text {
      font-size: 19px;
      line-height: 1.6;
    }
  }

  // services homepage

  .services {
    width: 648px;

    &__wrap-cards {
      display: grid;
      grid-template-rows: 373px 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 60px;
    }

    &__conversion {
      margin-bottom: 60px;
    }
  }

  .conversion {
    font-size: 38px;
    line-height: 1.2;
  }


  // team homepage
  .about-team {
    padding-top: 80px;

    // team slider
    &__slider {
      width: 648px;
    }

    &__wrap-img {
      height: 500px;

      img {
        width: 100%;
      }
    }

    &__wrap-quote {
      height: 436px;
    }

    &__text {
      font-size: 38px;
      line-height: 1.2;
    }
  }


  // trust-company section
  .partner-company {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    &__wrap-img {
      &:nth-child(n+7) {
        display: flex;
      }
    }
  }

  // publications section
  .publications {
    &__wrapper {
      width: 648px;
    }

    &__pages-link {
      margin-bottom: 10px;
    }

    &__wrapper-cards {
      display: grid;
      grid-template-columns: 309px 309px;
    }
  }

  .card-public {

    &:last-child:nth-child(2n+1) {
      grid-column-end: span 2;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  // footer
  .footer {
    height: 189px;

    &__container {
      width: 648px;
    }

    &__wrap-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__address-wrap {
      flex-direction: row;
    }

    &__address {
      display: inline-block;
      position: relative;
      padding: 0 16px 0 0;

      &:after {
        @include circle;
        content: "";
        background-color: $color-secondary;
        right: 0;
      }
    }

    &__contact {
      flex-direction: row;
      margin-bottom: 30;
    }

    &__phone {
      display: inline-block;
      position: relative;
      padding: 0 16px;

      &:after,
      &::before {
        content: "";
        @include circle;
        background-color: $color-secondary;
        right: 0;
      }

      &::before {
        left: 0;
      }
    }
  }

  // MAIN ABOUT-PAGE

  .about-section {
    padding-top: 60px;
  }

  .about {
    width: 648px;
  }

  .team {
    height: 234px;
    margin: 60px 0;

    &__heading {
      font-size: 46px;
      line-height: 1.2;
      letter-spacing: 63px;
    }
  }

  // carousel
  .achieve-section {
    &__wrap-slider {
      width: 688px;
      height: 90px;
    }

    .slick-slide {
      margin: 0 20px;
    }

    .slick-dots {
      li {
        &:nth-child(n+4) {
          display: none;
        }
      }
    }
  }

  // services page
  .container_dark-gradient {
    padding-top: 220px;
  }

  .services {
    &__conversion {
      &_service-page {
        margin-top: 60px;
      }
    }
  }

  // team-members page

  .team-members {
    width: 648px;
    padding-top: 60px;

    &__cards {
      margin-top: 60px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 60px;
    }

    &__wrap-img {
      height: 400px;
      width: 294px;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  // publications page 
  .publications {
    &_basic {
      margin-top: 60px;
    }
  }

  // contact page
  .contact {
    padding: 60px 0;
    width: 648px;
  }

}



@include tabletHD {
  // min-width: 1024px

  // header
  .header {
    width: 904px;
    height: 116px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo-block info-block"
      "logo-block nav";
    grid-gap: 16px;

    &__info-block {
      justify-content: flex-end;
      grid-area: info-block;
    }

    &__inner-container {
      width: auto;
    }

    &__logo-block {
      grid-area: logo-block;
      justify-content: flex-start;
    }
  }

  .nav {
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: nav;

    &__list {
      align-items: flex-end;
    }

    &__link {
      font-weight: 700;
    }
  }

  // homepage main

  .container_dark {
    background-size: auto 768px, auto;

    &::before {
      width: 984px;
    }

    &::after {
      width: 944px;
    }
  }

  .slogan {
    height: 768px;
  }

  .advantages {
    flex-direction: row;
    width: 904px;

    &__titles {
      flex-direction: column;
      height: auto;
      border-right: 4px solid $color-secondary;
      padding: 0 60px 0 0;
      width: 439px;
      gap: 30px;
      align-items: end;
      justify-content: center;

      li {
        &:last-child {
          margin-right: 0;
        }
      }

    }

    &__button {
      &_active {
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
          cursor: auto
        }
      }
    }

    &__content {
      min-height: 303px;
      padding-left: 60px;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__wrap-content {
      width: 405px;
      border-top: none;
      padding-top: 0;
    }

    &__heading {
      font-size: 30px;
    }

    &__text {
      font-size: 19px;
      line-height: 1.6;
    }
  }

  .services {
    width: 904px;

    &__wrap-cards {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px;
    }
  }

  .about-team {
    // team slider

    &__slider {
      width: 903px;
    }

    &__wrap-img {
      height: 528px;
      width: 400px;
      border-radius: 12px 0 0 12px;

      img {
        width: auto;
        height: 100%;
      }
    }

    &__wrap-quote {
      height: 528px;
      border-radius: 0 12px 12px 0;
    }

    &__text {
      width: 444px;
    }

    .slick-slide {
      display: flex;
    }
  }

  // trust-company section
  .partner-company {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  // publications section
  .publications {
    &__wrapper {
      width: 904px;
    }

    &__wrapper-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card-public {
    overflow: hidden;


    &__wrap-img {
      img {
        height: 100%;
        width: auto;
      }
    }

    &:last-child:nth-child(2n+1) {
      grid-column: auto;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  // footer

  .footer {
    height: 139px;

    &__container {
      width: 904px;
    }

    &__contact {
      margin-bottom: 0;
    }

    &__wrap-info {
      height: 79px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }


    &__copyright {
      display: flex;
      height: 100%;
    }
  }


  // MAIN ABOUT-PAGE
  .about {
    width: 904px;
    display: flex;
    justify-content: space-between;

    &__wrap {
      width: 486px;
    }

    &__text-wrapper {
      margin-bottom: 0;
      width: 486px;
    }

    &__heading {
      &_bottom {
        width: 362px;

      }
    }
  }

  .experience {
    width: 388px;
    height: 322px;
  }

  .team {
    height: 312px;

    &__heading {
      font-size: 86px;
      line-height: 1.2;
      letter-spacing: 63px;
    }
  }

  // slider
  .achieve-section {
    min-height: 263px;

    &__wrap-slider {
      width: 944px;
      height: 110px;
    }
  }

  .achieve-section__wrap-slider .slick-initialized .slick-slide {
    height: 110px;
  }

  .slider__wrap-img img {
    height: 60px;
  }

  // services page
  .container_dark-gradient {
    padding-top: 116px;
  }


  // team-members page

  .team-members {
    width: 904px;

    &__conversion {
      width: 664px;
    }

    &__cards {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
    }

    &__wrap-img {
      width: 262px;
    }

    &__position {
      width: 214px;
    }
  }

  // contact page
  .contact {
    width: 904px;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
  }

}


@include desktopHD {
  // min-width: 1920px

  .header {
    width: 1600px;
  }

  // homepage main 
  .container_dark {
    background-size: auto 1000px, auto;

    &::before {
      width: 1880px;
    }

    &::after {
      width: 1840px;
    }
  }

  .slogan {
    height: 1000px;
  }

  .advantages {
    width: 1360px;

    &__button {
      cursor: pointer;

    }

    &__wrap-content {
      width: 861px;
    }
  }

  .services {
    width: 1600px;
  }

  .card-service__heading {
    cursor: pointer;
  }

  .pages-link {
    cursor: pointer;
  }

  // team homepage
  .about-team {

    // team slider
    &__slider {
      width: 1600px;
    }

    &__wrap-img {
      width: 400px;
      height: 298px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__wrap-quote {
      height: 298px;
    }

    &__text {
      width: 1140px;
    }
  }

  .partner-company {
    width: 1720px;
    margin-bottom: 60px;

  }

  // publication section 

  .publications {
    &__wrapper {
      width: 1600px;
    }
  }

  .card-public {

    &__wrap-img {
      img {
        width: 100%;
        height: auto;
      }
    }

    &:last-child:nth-child(2n+1) {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  // footer

  .footer {
    height: 171px;

    &__container {
      width: 1600px;
    }
  }

  // MAIN ABOUT-PAGE
  .about {
    width: 1360px;

    &__wrap {
      width: 942px;
    }

    &__text-wrapper {
      width: 942px;
    }
  }

  .team {
    height: 584px;

    &__heading {
      font-size: 96px;
    }
  }

  .achieve-section__wrap-slider {
    width: 1600px;
  }

  // team-members page

  .team-members {
    width: 1600px;

    &__conversion {
      width: 1360px;
    }

    &__wrap-img {
      width: 493px;
      height: 400px;

      img {
        height: auto;
        width: 100%;
      }
    }

    &__position {
      width: auto;
    }
  }

  // contact page
  .contact {
    width: 1360px;
  }

}

@include desktopSD {

  // min-width: 1440px
  .header {
    width: 1320px;
  }

  // homepage main
  .container_dark {
    background-size: auto 799px, auto;

    &::before {
      width: 1400px;
    }

    &::after {
      width: 1360px;
    }
  }

  .slogan {
    height: 800px;
  }

  .advantages {
    width: 1080px;

    &__wrap-content {
      width: 581px;
    }
  }

  .services {
    width: 1320px;
  }

  // team homepage
  .about-team {

    // slider

    &__slider {
      width: 1320px;
      height: 344px;
    }

    &__wrap-img {
      height: 344px;
      width: 400px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__wrap-quote {
      height: 344px;
    }

    &__text {
      width: 860px;
    }
  }

  // publications section

  .publications__wrapper {
    width: 1320px;
  }

  .card-public {

    &__wrap-img {
      img {
        width: 100%;
        height: auto;
      }
    }

    &:last-child:nth-child(2n+1) {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  // footer

  .footer {
    height: 139px;

    &__container {
      width: 1320px
    }

  }

  // MAIN ABOUT-PAGE
  .about {
    width: 1080px;

    &__wrap {
      width: 662px;
    }

    &__text-wrapper {
      width: 662px;
    }
  }

  .team {
    height: 438px;

    &__heading {
      font-size: 96px;
    }
  }

  .achieve-section__wrap-slider {
    width: 1320px;
  }

  // team-members page

  .team-members {
    width: 1320px;

    &__conversion {
      width: 1080px;
    }

    &__wrap-img {
      width: 400px;
      height: 400px;
    }

    &__position {
      width: auto;
    }
  }

  // contact page
  .contact {
    width: 1080px;
  }


}